.image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    justify-self: center;
   
}

button {
    width: 75px;
    margin-top: 5px;
    justify-self: center;
}

.post {
    display: inline-grid;
    margin: 5px;
}