@font-face {
    src: url('../App/font/Pacifico/Pacifico-Regular.ttf');
    font-family: pacifico;
  }
  
.image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    justify-self: center;
    border-radius: 7px;
   
}

.description {
    word-wrap: normal;
    height: 200px;
    width: 200px;
    background-color: grey;
    color: white;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 10px;
    display: inline-grid;
}

button {
    width: 75px;
    margin-top: 5px;
    justify-self: center;
    color: white;
    background-color: #FACCAD;
    border: none;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: pacifico;
}

.post {
    display: inline-grid;
    margin: 15px;
    background-color: white;
    padding: 10px;
}

.likeCount {
    font-family: pacifico; 
}